extends ../layout

block content
    .row
        .col-xs-4.col-xs-offset-4
            p= data.contenu
            p bouton pour éditer le contenu
            p bouton pour supprimer le contenu
            