extends ../layout

block content

    .row
        .col-xs-12.col-md-4.col-md-offset-4
        
            if data.poster == true
            
                h2 Message envoyé avec succes!
        
            else if data && data.poster != true
            
                h2= data.titre

                p= data.article

                a(href='contact/confirmation', title='Confimer l\'envoi') Et c'est parti!
                
            else
            
                h2 Erreur!
                
                p quelque chose s'est mal passé... Pourrais-tu ressaisir ton message stp?
                
                a(href='contact/creation', title='Ecrire un message') Mais biensûr!










    includes ../footer