footer
    .container
        .col-xs-12.col-md-offset-2.col-md-10
            .col-xs-12.col-md-3
                if user && (user.droits == 'god' || user.droits == 'demiGod' || titre == 'network')
                    img(src='../../images/footer/tel.png', alt='Icone téléphone')
                else
                    img(src='../images/footer/tel.png', alt='Icone téléphone')
                p
                    | Appelle moi!
                    br
                    |                 06.45.26.45.90
            .col-xs-12.col-md-3
                if user && (user.droits == 'god' || user.droits == 'demiGod' || titre == 'network')
                    img(src='../../images/footer/mail.png', alt='Icone mail')
                else
                    img(src='../images/footer/mail.png', alt='Icone mail')
                p
                    | Contact
                    br
                    |                 fritz.benj@gmail.com
            .col-xs-12.col-md-3
                script(type='text/javascript', src='http://platform.linkedin.com/in.js')
                script(type='in/share').
                p
                    | Ca t'a plu? 
                    br
                    |                 Fais tourner à ton réseau!
            .col-xs-12.col-md-3
                a.twitter-follow-button(href='https://twitter.com/BenjFritz', data-show-count='false', data-size='large') Follow @BenjFritz
                script.
                    !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
                p
                    br
                    | Suis moi sur twitter!
    noscript
        p Veuillez activer JavaScript
    
    if user && (user.droits == 'god' || user.droits == 'demiGod')
        script(type='text/javascript', src='../../javascripts/angular.min.js')
        script(type='text/javascript', src='../../javascripts/formAngular.js')
    else
        script(type='text/javascript', src='../javascripts/angular.min.js')
        script(type='text/javascript', src='../javascripts/formAngular.js')