doctype html
html(lang='')
    head
        meta(charset='UTF-8')
        title Benjamin FRITZ, Développeur Intégrateur Web
        if administrateur
            link(rel='stylesheet', type='text/css', href='../../stylesheets/bootstrap.min.css')
            link(rel='stylesheet', type='text/css', href='../../stylesheets/style.css')
            script(type='text/javascript', src='../../javascripts/jquery-1.12.3.js')
            script(type='text/javascript', src='../../javascripts/sitePerso.js')
        else
            link(rel='stylesheet', type='text/css', href='../stylesheets/bootstrap.min.css')
            link(rel='stylesheet', type='text/css', href='../stylesheets/style.css')
            script(type='text/javascript', src='../javascripts/jquery-1.12.3.js')
            script(type='text/javascript', src='../javascripts/sitePerso.js')
        if jeuSolo
            link(rel='stylesheet', type='text/css', href='../stylesheets/monJeu.css')
        if jeuMulti
            link(rel='stylesheet', type='text/css', href='../stylesheets/jeuMulti.css')
        link(rel='icon', type='image/png', src='../images/smileyKiss.png')
        
    body
    header
        .container
            .row
                .col-xs-12.col-md-5
                    h1.col-md-12 Benjamin FRITZ
                    p.col-md-12 Développeur Intégrateur Web, fullStack JavaScript
                nav.col-xs-12.col-xs-offset-0.col-md-7
                    br
                    br
                    br
                    br
                    br
                    ul
                        li
                            a(href='/', title='Accueil') Accueil
                        li
                            a(href='/resume', title='Résumé') Résumé
                        li
                            a(href='/projets', title='Projets') Projets
                        li
                            a(href='/contact/contact', title='Contactez-moi!') Contact
                        if user
                            li
                                a(href='/users/profil', title='Gestion profil') Profil
                        else
                            li
                                a(href='/users/connection', title='Connection') Connection
                if message
                    .row
                        p.bulle.col-md-offset-3.col-md-6.text-center= message
block content
