extends ../layout

block content

    .row
        .col-xs-12.col-md-offset-3.col-md-6
        
            #parametragePartie
            
            #acceuilJeuMulti
                h2 Jeu multijoueur!

                p La planète namek est au coeur d'une pluie de météorites! Sauve Namek en détournant les météorites à l'aide de ton kayoken!

                p Appuie sur espace pour utiliser ton kayoken. Mais attention, plus tu l'utilises longtemps, plus ton énergie diminue... Le dernier debout remportera la partie!

                p#boutonCreer.btn.jaune.col-xs-12 CREER UNE PARTIE!

                h3 Liste des parties en attente:

                #partiesEnAttente
        #audioPlayer
            audio#musiqueJeu(src='../sons/musiqueDB.mp3', loop) Veuillez mettre à jour votre navigateur.
            audio#musiqueVictoire(src='../sons/victoireDB.mp3') Veuillez mettre à jour votre navigateur.
    if user
        script.
            var nomUser = '!{user.nom}';
    script(type='text/javascript', src="/socket.io/socket.io.js")
    script(type='text/javascript', src='../javascripts/jeuMulti.js')

