extends ../layout

block content
    .container
        #topMenuNetwork
            a.col-md-offset-2.col-md-3.btn.btn-success.btn-lg(href="/network/mur/#{user._id}", title="Mur de #{user.pseudo}") MON MUR
            a.col-md-2.btn.btn-success.btn-lg(href="/network/friends/#{user._id}", title="Mes amis") MES AMIS
            a.col-md-3.btn.btn-success.btn-lg(href="/network/newFriends/list", title="Nouveaux amis") DECOUVRIR DES AMIS?
        block contentNetwork
                
    include ../footer.jade