extends ../layout

block content
    .row
        .col-xs-4.col-xs-offset-4
        
            p Ha mais quelle tristesse! Tu veux nous quitter #{user.nom} ? Soit... Merci de saisir ton mot de passe et valider pour procéder à la suppression de ton profil.
        
            form(method='post', action='/users/traitementSuppression')
              .form-group
                label(for='passW') Votre mot de passe: 
                input.form-control(type='password', name='passW')
                br
                input.btn.bulle.col-xs-12(type='submit', value='Suppression')
        
        
    include ../footer